Name: Glasklart iOS7
Package: com.modmyi.glasklarthd7
Version: 4.00
Architecture: iphoneos-arm 
Description: Out-of-the-way transparent WinterBoard theme that lets you really showcase your wallpaper.\n\nGlasklart is swedish, it means "clear as glass".\n\nCompatible with iOS7 as of version 4.00.
Homepage: https://github.com/glasklart/hd
Maintainer: dreamnet
Author: Max Rudberg
Section: Themes (Complete)
Conflicts: com.modmyi.glasklarthdipadampiphone4ready, com.modmyi.glasklarthd
Replaces: com.modmyi.glasklarthdipadampiphone4ready, com.modmyi.glasklarthd
Depends: winterboard (>=0.9.3915), firmware (>=7.0), com.codethemed.iconbundles (>=0.1-3)
