Name: Glasklart iOS7 Beta
Package: com.modmyi.glasklarthd
Version: 4.00b
Architecture: iphoneos-arm 
Description: Out-of-the-way transparent WinterBoard theme that lets you really showcase your wallpaper. Glasklart is swedish, it means "clear as glass". Compatible with iOS7 as of version 4.00. This is a beta release!
Homepage: https://github.com/glasklart/hd
Maintainer: dreamnet <glasklarthd@dreamnet.at>
Author: Max Rudberg
Section: Themes (Complete)
Conflicts: com.modmyi.glasklarthdipadampiphone4ready
Replaces: com.modmyi.glasklarthdipadampiphone4ready
Depends: winterboard (>=0.9.3915), firmware (>=7.0), com.codethemed.iconbundles (>=0.1-3)
