<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabled</key>
	<true/>
	<key>update-interval</key>
	<real>1</real>
	<key>layout</key>
	<array>
		<dict>
			<key>type</key>
			<string>hand</string>
			<key>source</key>
			<string>hour</string>
			<key>color</key>
			<array>
				<real>1</real><real>1</real><real>1</real><real>1</real>
			</array>
			<key>origin</key>
			<array>
				<real>28.5</real><real>28.5</real>
			</array>
			<key>points</key>
			<array>
				<real>0.0</real><real>-12</real>
				<real>2</real><real>0.0</real>
				<real>-2</real><real>0.0</real>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>hand</string>
			<key>source</key>
			<string>minute</string>
			<key>color</key>
			<array>
				<real>1</real><real>1</real><real>1</real><real>1</real>
			</array>
			<key>origin</key>
			<array>
				<real>28.5</real><real>28.5</real>
			</array>
			<key>points</key>
			<array>
				<real>0.0</real><real>-16</real>
				<real>1.6</real><real>0.0</real>
				<real>-1.6</real><real>0.0</real>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>ellipse</string>
			<key>color</key>
			<array>
				<real>1</real><real>1</real><real>1</real><real>1</real>
			</array>
			<key>rect</key>
			<array>
				<real>26</real><real>26</real>
				<real>5</real><real>5</real>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>ellipse</string>
			<key>color</key>
			<array>
				<real>1</real><real>1</real><real>1</real><real>1</real>
			</array>
			<key>rect</key>
			<array>
				<real>27.25</real><real>27.25</real>
				<real>2.5</real><real>2.5</real>
			</array>
		</dict>
	</array>
</dict>
</plist>
